*{
    box-sizing: border-box;
}
body {
	background-image: url(./img/signup.jpg);
	background-size: cover;
  opacity: 0.9;

	position: relative;
	z-index: 1;
	background-repeat: no-repeat;
	
}


.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: rgb(110, 248, 202);
}
#header {
	position:absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
/* Bordered form */
form {
    
    padding-left: 400px;
    padding-right: 400px;
  }
  
  /* Full-width inputs */
  input[type=text],[type=email],input[type=text], input[type=password] {
    width: 100%;
    color:black;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  
  
  /* Avatar image */

  .form {
    padding-top: 200px;
  }
  
  
  /* Add padding to containers */
  .container {
    padding-top: 30px;
    
  }
  .container1 {
    padding: 10px;
    border-style:groove;
    
    
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding: 14px;

  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
      
    }
  }

